# Visual Studio Code
.log/

# Experiment directory
tmp/

# Experiment file
tmp.py

# Private settings.json
/settings.json

# Byte-compiled / optimized
__pycache__/

# Local repository
local_repos

# resources
resources/
